# .env.example

# MongoDB Connection
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/<dbname>

# JWT Secret
JWT_SECRET=<your_jwt_secret>

# Server Port
PORT=3000

# Other Configurations
# Add other backend configurations here
# e.g., API Keys, Database Configurations, etc.